body{
background-color: #353960;
margin:0px;
color:#D1D1D1;
font-family: Calibri ;
}
.pionowe{
width:100%;
background-color:#464a71;	
text-align:center;
padding:25px;
color:white;
}.pionowe:link {
  background-color: #565b82;
  }
  
.pionowe:active {
  background-color: #565b82;
  }
  
.pionowe:hover {
  background-color: #565b82;
 }
 
.pionowe:visited {
  background-color: #565b82;
  }

#mapa{
position:absolute;
top:50%;
right:15%;
}
#waluta{
position:absolute;
left:15%;
top:50%;
}

#tp-widget-default{
margin-top:30px;
float:left;
}
input{
padding:5px;
}
table, th, td {
padding: 10px;
border: 1px solid black;
border-collapse: collapse;
	  
}
#tabela{
display: flex;
justify-content: center;
}


#imie{
text-align:center; 
padding-top:100px;
}

li{
padding:5px;
font-size:30px;
}

#header{
padding-top:1px;
text-align:center;
font-size:45px;
}
#menu{
font-size:25px
}

#content{
margin-left:25%;
padding-top:30px;
width:40%;
float:left;
}
#footer{
clear:both;
text-align:center;
padding:10px;
}

.link{
width:50%;
float: left;
background-color:#464a71;	
text-align:center;
padding-bottom:25px;
padding-top:25px;
color:white;
}
.link:link {
  background-color: #565b82;
  }
  
.link:active {
  background-color: #565b82;
  }
  
.link:hover {
  background-color: #565b82;
 }
 
.link:visited {
  background-color: #565b82;
  }
  

a:link{
color:white;
text-decoration: none;	
}
a:active{
color:white;
text-decoration: none;	
}
a:hover{
color:white;
text-decoration: none;	
}
a:visited{
color:white;
text-decoration: none;	
}
